body {
    background-color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

p {
    display: grid;
    grid-template-columns: 120px 10px 1fr;
    width: 600px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    min-height: 40px;
    align-items: stretch;
    border-radius: 5px;
    overflow: hidden;
    color: #444;
}

p::before {
    content: attr(data-person);
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid #ddd;
}

p::after {
    content: "";
    grid-column: 2;
    background-color: #f1f1f1;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #e40045;
    position: relative;
    left: 0px;
    align-self: center;
}

p {
    padding: 10px 15px;
    grid-column: 3 / -1;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
}