.h1 {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: black;
    text-shadow:
        3px 3px 0 red,
        -3px -3px 0 blue,
        5px 5px 2px magenta;
}