body {
    background-color: #30444d;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.div {
    background-color: #008080;
    
    color: white;
    
    font-size: 48px;
    font-weight: bold;
    
    padding: 30px 60px;
    
    border-bottom: 10px solid #1c272a; 
    
    border-radius: 5px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}